:root {
  --color--dark: #005039;
  --color--dark-prominent: #1A614D;
}

.header-wrapper {
  padding: 15px 5px 10px 15px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 40%);
}

.header-wrapper img {
  width: 180px;
}

.columns_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.company_column_wrapper {
  flex: 1;
  margin: 0 25px;
}

.company_column_reservation_time h3,
.company_column_reservation_time h4 {
  margin: 0;
}

.company_column_reservation_time h3 {
  background-color: #f6f6f6;
  padding: 10px;
  border: solid 1px #e4e4e4;
  border-radius: 5px;
  font-size: 1.1rem;
}

.company_column_availability_label {
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 1px;
  margin: 30px 0 15px 0;
  text-transform: uppercase;
}



.time_slots_wrapper {
  overflow-y: scroll;
  max-height: 560px;
  background-color: #f8f7e6;
  border: solid 1px #768b78;
  padding: 0 10px;
}

.time_slots_wrapper ul {
  padding: 0;
}

.time_slots_wrapper li {
  list-style-type: none;
  padding: 10px;
  border: solid 1px #e4e4e4;
  background-color: white;
  margin-bottom: 1px;
  border-radius: 3px;
}

.time_slots_wrapper li:hover {
  border-color: var(--color--dark);
  cursor: pointer;
}

li.time_slot--selected {
  border: solid 3px var(--color--dark-prominent);
  font-weight: 700;
  color: var(--color--dark-prominent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.time_slot--disabled {
  color: #d4d4d4;
}

li.time_slot--disabled:hover {
  border: solid 1px #e4e4e4;
  cursor: no-drop;
}